@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  margin-left: -10px;
  margin-right: -10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black !important;
  font-size: 14px !important; /* 👈 THIS is the key: sets actual arrow icon size */
  font-weight: 200;
  background-color: gainsboro !important;
  background: transparent; /* Remove background if any */
  width: 30px !important; /* Optional: clickable area */
  height: 80px !important; /* Optional: clickable area */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pagination container */
.custom-swiper .swiper-pagination {
  bottom: 10px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6px; /* space between pills */
}

/* Base bullet (pill style) */
.custom-swiper .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 9999px;
  background: gray;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

/* Active bullet (expand + darker color) */
.custom-swiper .swiper-pagination-bullet-active {
  width: 40px; /* expand horizontally */
  background: black; /* active color */
  opacity: 1;
}
